{% extends 'base.html.twig' %}

{% block title %}P06PieceCaracteristique index{% endblock %}

{% block body %}
    <h1 class="mb-5">P06PieceCaracteristique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PieceFaceCommune</th>
                <th>PieceMasse</th>
                <th>PieceTaille</th>
                <th>PieceMateriau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for p06_piece_caracteristique in p06_piece_caracteristiques %}
            <tr>
                <td>{{ p06_piece_caracteristique.id }}</td>
                <td>{{ p06_piece_caracteristique.PieceFaceCommune }}</td>
                <td>{{ p06_piece_caracteristique.PieceMasse }}</td>
                <td>{{ p06_piece_caracteristique.PieceTaille }}</td>
                <td>{{ p06_piece_caracteristique.PieceMateriau }}</td>
                <td class="d-flex">
                    <a class="btn btn-primary mx-3" href="{{ path('app_piece_caracteristique_show', {'id': p06_piece_caracteristique.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_piece_caracteristique_edit', {'id': p06_piece_caracteristique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary mx-3"  href="{{ path('app_piece_caracteristique_new') }}">Create new</a>
{% endblock %}
